{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "",
    "FUNCTIONS_WORKER_RUNTIME": "powershell",
    
    "ITGlueAPIKey": "<IT Glue API key>",
    "ITGlueURI": "https://api.itglue.com",

    "APIKey_ORG": "<Key for client machines to authenticate against this gateway>"
  }
}
